<div class="row">	
	<div class="span9">
	
		<img src="/images/arng_rgb_color.png" class="pull-left" style="padding-right: 24px; width: 60px;" />
		<h1>School Programs</h1>
			
	</div>
	<div class="span3">
		<a href="/arng/programs" class="btn btn-small btn-success pull-right">Back to Programs</a>
	</div>
</div>
<hr />
<div class="row">
	<div class="span8">

		<img src="/images/CD2-cover-clean.jpg" width="160px" class="img-polaroid round-corners pull-left" style="margin-right: 24px;" />

		<h2>Career Direction 2</h2>
			
		<p><strong>Career Direction 2</strong> is a comprehensive career guidance program designed to help high school students:</p>
		<ul style="margin-left: 230px;">
			<li>make appropriate educational and career choices.</li>
			<li>enhance their job-finding knowledge and skills through useful tools and strategies.</li>
			<li>understand the importance of making informed choices regarding alcohol, drugs, and personal relationships.</li>
		</ul>
	
		<p><strong>Career Direction 2</strong> can be tailored for 1 to 3 class periods. Students will be fully engaged as they work through a program that is all about them - their priorities, their personality, their interests, and their abilities! They will consider possible careers as related to their interests, find out how to research the careers further, examine the education and training required, and be asked to think about the costs for that education.</p> 
	
		<p>One module of the material focuses on job-getting skills such as effective resume and cover letter writing. There is also a section covering job interview strategies, with four short example videos the students evaluate. The workshop is motivating and can truly help students figure out their next steps.</p>
	
		<p><strong>Career Direction 2</strong> is an appropriate fit in English, business, or in a Counselor's "Special Event." Certain sections can also be tailored to be presented during appropriate subjects, e.g. the "Drugs and Alcohol Education" section is a great fit with health and PE, but could also fit in science, chemistry, or biology. It is also an excellent topic in the few weeks prior to Prom or Homecoming.</P>
	
		<p><strong>More information is available at the <a href="http://www.careertrain.com">Career Direction 2</a> Website.</strong></p>
	
	
		<h3>Program Requirements:</h3>
	 
		<ul>
			<li>Up to 40 students with an educator in attendance</li> 
			<li>Minimal equipment requirements</li>
			<li>Each single module is designed for 45-minute</li>
		</ul>
	
		<h3>Learning Standards:</h3>
	
		<p>The <strong>Career Direction 2</strong> program meets specific national and state learning standards.</p> 
	
		<p><strong>Career Direction 2</strong> meets these <b>National</b> Common Core Learning Standards:</p>
		<ul>
			<li>Writing Standards - <u>Grades 11/12:</u>  4, 5, 6, 7</li>
			<li>Writing Standards - <u>Grades 9/10:</u>  4, 5, 6, 7</li>
			<li>Speaking / Listening Standards - <u>Grades 11/12:</u>  2, 3, 6</li>
			<li>Speaking / Listening Standards - <u>Grades 9/10:</u>  2, 3, 6</li>
		</ul>
	
		<p><strong>Career Direction 2</strong> meets these <b>Minnesota</b> DOE Standards and Common Core State Standards:</p>
		<ul>
			<li>Writing Standards - <u>Grades 11/12:</u>  4, 5, 6, 7</li>
			<li>Writing Standards - <u>Grades 9/10:</u>  4, 5, 6, 7</li>
			<li>Speaking / Listening Standards - <u>Grades 11/12:</u>  2, 3, 6</li>
			<li>Speaking / Listening Standards - <u>Grades 9/10:</u>  2, 3, 6</li>
			<li>Science / Technical Standards - <u>Grades 9/10:</u>  PE 9; Health 9.1, 9.5, 10.1</li>
		</ul>
	
		<p><strong>Career Direction 2</strong> meets these <b>Virginia</b> DOE Standards of Learning:</p>
		<ul>
			<li><u>Grade 9:</u>  9.5 h; 9.6 a) ,9.6 b); 9.6 I); 9.7 f); 9.7; 9.8; 9.8 b); Health 9.1; 9.2; 9.3</li>
			<li><u>Grade 10:</u>  10 CF; 10.1 CF; 10.5; 10.5 e); 10.6 a); 10.6 c); 10.6 CF; 10.6 g); 10.7; 10.8 a); Health 10.1; 10.2 </li>
			<li><u>Grade 11:</u>  11.6 a); 11.6 h); 11.7 f); 11.8 b); Econ &amp; Personal Finance 84; 131; 134; 135</li>
			<li><u>Grade 12:</u>  12.1 CF; 12.6 a); 12.6 g); 12.6 h); 12.7 a)</li>
		</ul>
	
		<br />
		<h3>Frequently Asked Questions:</h3>
	
		<p><strong>Q: Is this just a recruiting push where the Guard is sold to my students?</strong></p>
	
		<p class="answer">No. Guard Representatives teach these workshops as a way of building trust and rapport with students and faculty while doing something of value for the community and the students. If we do something that has value to all the students in the classroom, then those that may be military inclined will naturally seek us out to ask questions at another time. We won't pressure your students.</p>
	
		<p><strong>Q: I don't really understand the big picture of the Guard, will that be explained?</strong></p>
	
		<p class="answer">If you wish, it can certainly be a footnote as the presentation wraps up. When storms, floods, and disaster occur, the National Guard is there to help. When there is no flood, we still need good people to learn to be good Guard members - ready to serve.</p>
	
	
		<br />
		<h3>What other educators have said:</h3>
	
		<blockquote>
			Career Direction is such a great program to offer my students. All of us appreciate every bit of the booklet. Please direct our thanks to the Army National Guard also. We really appreciate their funding for this project because it gives a great deal of meaningful information to our students.<br />
			<small>Patsy Chilcote &mdash; Career &amp; Technology Counselor, Denton, TX</small>
		</blockquote>
	
	
		<blockquote>
			The Army National Guard staff was professional, knowledgeable, and very well prepared. They were able to reach my students at their level, and were right on point in answering their questions. The materials were excellent, well thought out, of interest to students, and covered careers in a way in which virtually every student could benefit.<br />
			<small>Dr. Sandra Kinter &mdash; Marion Center High School, PA</small>
		</blockquote>
	
	
		<blockquote>
			Thank you again for the great presentations to our students. It was valuable information and a great addition to our career day. I've heard great feedback on the assembly. Our principal asked if you would present to the 10th grade students also.<br />
			<small>Becky Horton &mdash; Career Program Specialist, Sayre High School, NY</small>
		</blockquote>
	
	
		<blockquote>
			Career Direction helped me reach a larger number of students in a short period of time than I would have been able to do on my own. It helped the students to begin thinking about life after high school & some of the options that they have, that they may not have thought about before. The National Guard representatives were terrific! This is an excellent program, please continue to offer it!<br />
			<small>Dennielle Patterson &mdash; Guidance Counselor, St. Johns High School, AZ</small>
		</blockquote>
	
		<br />
		<p>
			<a href="/arng/programs" class="btn btn-small"> Back to Programs </a>
		</p>
	
	</div>
	<div class="span4">

			<%= erb :'arng/form', layout: false %>

			<p><small>Not all programs are available at all locations.</small></p>
	
	</div>
</div>