<div class="row">	
	<div class="span9">
	
		<img src="/images/arng_rgb_color.png" class="pull-left" style="padding-right: 24px; width: 60px;" />
		<h1>School Programs</h1>
			
	</div>
	<div class="span3">
		<a href="/arng/programs" class="btn btn-small btn-success pull-right">Back to Programs</a>
	</div>
</div>
<hr />
<div class="row">
	<div class="span8">
			
		<img src="/images/Programs/guard-fit.png" class="pull-left" style="margin: 0 24px 12px 0;" />
			
		<h2>Guard Fit Challenge</h2>
	
		<p>Guard Fit Challenge is available to help students get in shape, stay in shape, or shake up their current workout routine.</p>
	
		<p>Exercise and nutrition tips, videos demonstrating proper workout techniques, and interactive tools for measuring and tracking one's fitness progress are all a part of the workshop that was designed for high school and college students.</p>
	
		<p>After a presentation on the Army Physical Fitness Test (APFT), the Army National Guard representative can return to present a full-body workout (core, upper body, and lower body) and a cardio workout.</p> 
	
		<p>During both of the follow-on lessons, the presenter can measure students' progress on the APFT.</p>
	
		<p>Physical education teachers, athletic directors, and coaches can request for an Army National Guard representative to come to their school and present Guard Fit Challenge during class or at a team practice.</p>
	
		<h3>Program Requirements:</h3>
	 
		<ul>
			<li>Up to 40 students with an educator in attendance</li> 
			<li>Minimal equipment requirements</li>
			<li>Program can be done indoors or outdoors (weather permitting)</li>
			<li>Program can be presented during a physical education class or team practice</li>
			<li>45-minute and 90-minute versions of the lessons are available</li>
		</ul>
	
	
		<h3>Curriculum Standards:</h3>
	
		<p>Guard Fit Challenge is a great opportunity for schools to receive a valuable public service that may help them meet <strong>National Association for Sport and Physical Education (NASPE) Content Standards and National Health Education Standards</strong> including:</p>
	
		<ul>
			<li>NPH.K-12.1 Movement Forms</li>
			<li>NPH.K-12.2 Movement Concepts</li>
			<li>NPH.K-12.3 Physical Activity</li>
			<li>NPH.K-12.4 Physical Fitness</li>
			<li>NPH.K-12.7 Understanding Challenge</li>
			<li>NPH-H.9-12.3 Reducing Health Risks</li>
			<li>NPH-H.9-12.6 Setting Goals for Good Health</li>
		</ul>
	
	
		<br />
		<h3>Frequently Asked Questions:</h3>
	
		<p><strong>Q: The students in my physical education class are on many different fitness levels, and some may not be able to do all of the exercises in the program. Can they still participate?</strong></p>
	
		<p class="answer">Guard Fit Challenge is designed to benefit and motivate every student in your class. The Guard representative is prepared with alternate exercises for students who may not be able to execute some or all of the planned exercises. The presenter also instructs the students on avoiding injury while working out, and makes sure to ask if anyone has any injuries or conditions that need to be considered before participating in Guard Fit Challenge.</p>
	
		<p><strong>Q: I don't want to join the National Guard, so why should I care about being Guard Fit?</strong></p>
	
		<p class="answer">No matter what path students take, physical fitness enables them to perform to full potential. Participating in Guard Fit Challenge can help them develop a new physical fitness routine, improve the way they work out, and set a foundation for a healthy future.</p>
	
		<br />
		<h3>What other educators have said:</h3>
	
			<blockquote>
				It was AWESOME! Sgt. Bremer was FANTASTIC! The students, who were a little reluctant at first, really spent their time well working out. I was in the second session of the day and the students were exhausted by the time they were done, and they were happy about it! Thank you so much for the arrangements and for following-up. I am sure other programs in the building will want to make use of the programs offered by the National Guard.<br /> 
				<small>Mary Dziczkowski &mdash; Lorain County JVS</small>
			</blockquote>
	
		<br />
		<p>
			<a href="/arng/programs" class="btn btn-small"> Back to Programs </a>
		</p>
	
	</div>
	<div class="span4">

			<%= erb :'arng/form', layout: false %>

			<p><small>Not all programs are available at all locations.</small></p>
	
	</div>
</div>