<div class="row">	
	<div class="span9">
	
		<img src="/img/arng.svg" class="pull-left" style="padding-right: 24px; width: 60px;" />
		<h1>School Programs</h1>
			
	</div>
	<div class="span3">
		<a href="/arng/programs" class="btn btn-small btn-success pull-right">Back to Programs</a>
	</div>
</div>
<hr />
<div class="row">
	<div class="span8">

	<img src="/images/Programs/hear.png" class="pull-left" style="margin: 0 24px 12px 0;" />

	<h2>H&middot;E&middot;A&middot;R</h2>
		
	<p>According to findings from a survey conducted by CDC, slightly over 20% of high school students report being bullied on school property and 16% have experienced cyberbullying within the last 12 months.  Bullying is a public health issue with serious consequences such as physical harm, emotional and social distress, and even death.</p>

	<p>To help reduce bullying and promote safer learning environments, CTC collaborated with nationally renowned subject matter experts at the Harvard Graduate School of Education and the University of Nebraska-Lincoln to create H&middot;E&middot;A&middot;R – Helping Everyone Achieve Respect – a high quality, 50 minute anti-bullying presentation for high school students.  The Army National Guard, also a key partner, serves as the sponsor and facilitator of the presentation, which is now shared with students all across the country at no costs to schools.</p>
	
	<p>With structured discussion and personal reflection opportunities, the presentation focuses on the positive character attributes or ideals associated with the Army National Guard core values: Loyalty, Duty, Respect, Selfless Service, Honor, Integrity, and Personal Courage. Students examine these values, determine ways they feel they reflect some of them daily, and select a role model they believe personifies many of them. They next examine all aspects of bullying and disrespectful behavior including two case studies that both students and educators agree are very realistic. Students then return to the core values and reflect on how they could have handled things differently in the two case studies based on the information covered in the class. Finally, they are provided a resource list of questions that can be used to initiate and guide discussions with faculty and administration.  These conversations have the power to inspire positive change in the school climate.</p>

	<p>It is also important to know that high schools involved with H&middot;E&middot;A&middot;R are invited to participate in the Harvard Graduate School of Education <em>Making Caring Common Project</em> Annual Survey. Results of the survey will inform school leaders about students’ perspectives on safety and respect in the school, as well as providing support in efforts to promote caring, responsible and empathetic behaviors among members of the learning community.</p>
	
	<p><strong>More information is available at</strong> &nbsp;<a href="http://project-hear.us" target="blank" class="btn btn-small btn-info" style="margin-bottom: 6px;"><i class="icon-info-sign"></i> &nbsp; project-hear.us</a></p>
	
	<h3>Presentation Requirements:</h3>
		<ul>
			<li>Up to 40 students with an educator in attendance</li>
			<li>Minimal equipment requirements</li>
			<li>Designed for approximately 50 minutes of class time</li>
		</ul>
	
	<h3>Learning Standards:</h3>
	<p>H&middot;E&middot;A&middot;R meets the following National Common Core Learning Standards:</p>
	<ul>
		<li>Reading (Informational Text) – <u>Grades 9/10</u>:  1,2,3</li>
		<li>Reading (Informational Text) – <u>Grades 11/12</u>: 1,2,3,7</li>
		<li>Writing Standards - <u>Grades 9/10</u>: 1,9</li>
		<li>Writing Standards - <u>Grades 11/12</u>: 1,9</li>
		<li>Speaking / Listening Standards - <u>Grades 9/10</u>: 1,2,3,4</li>
		<li>Speaking / Listening Standards - <u>Grades 11/12</u>: 1,2,3,4</li>
	</ul>
	
	<br />
	
	<h3>Frequently Asked Questions:</h3>

	<p><strong>Q: Is this just a recruiting push where the Guard is sold to my students?</strong></p>

	<p>No. Guard representatives facilitate this presentation as a way of building trust and rapport with students and faculty while doing something of value for the community and the students. If we do something that has value to all the students in the classroom, then those who may be military inclined will naturally seek us out to ask questions at another time. We won't pressure your students.</p>

	<p><strong>Q: I don't really understand the big picture of the Guard.  Will that be explained?</strong></p>

	<p>If you wish, it can certainly be a footnote as the presentation wraps up. When storms, floods, and disaster occur, the National Guard is there to help. When there is no flood, we still need good people to learn to be good Guard members - ready to serve.</p>
	
	
	<h3>What Other Educators Have Said:</h3>
	<blockquote>Thank you so much for creating this much needed program on bullying. We are beginning an anti-bullying campaign at our school and this added support is great!</blockquote>
	<blockquote>The time period dedicated to this presentation was well worth the effort.  Thank you!</blockquote>
	<blockquote>H&middot;E&middot;A&middot;R was an informative and helpful presentation.  I hope that all of our students have the chance to be a part of it soon.</blockquote>
	
	<br />
	
	<h3>What students have said:</h3>

	<blockquote>
		When we talked about what the victims were feeling, it made me want to stop bullying.<br />
		<small>Student &mdash; Connellsville Area Sr. HS, Pennsylvania</small>
	</blockquote>

	<blockquote>
		This is a good program, more students should be exposed to it.  SFC Strickland did a great job explaining bullying and the impact it has on students’ lives.<br />
		<small>Student &mdash; Ware County HS, Georgia</small>
	</blockquote>   

	<blockquote>
		Letting us know what to do when you witness bullying was most helpful.  I wasn’t sure what to do.<br />
		<small>Student &mdash; Asher HS, Oklahoma</small>
	</blockquote>   

	<blockquote>
		I think this presentation was one of the best we’ve had!  It really got our class involved.<br />
		<small>Student &mdash; El Reno HS, Oklahoma</small>
	</blockquote>

		<br />
		<p>
			<a href="/arng/programs" class="btn btn-small"> Back to Programs </a>
		</p>
	
	</div>
	<div class="span4">

			<%= erb :'arng/form', layout: false %>

			<p><small>Not all programs are available at all locations.</small></p>
	
	</div>
</div>