<div class="row">	
	<div class="span9">
	
		<img src="/img/arng.svg" class="pull-left" style="padding-right: 24px; width: 60px;" />
		<h1>School Programs</h1>
			
	</div>
	<div class="span3">
		<a href="/arng/programs" class="btn btn-small btn-success pull-right">Back to Programs</a>
	</div>
</div>
<hr />
<div class="row">
	<div class="span8">

	<img src="/images/Programs/hop.png" class="pull-left" style="margin-right: 24px;" />

	<h2>Heritage Outreach Program</h2>

	<p>The Heritage Outreach Program (HOP) consists of four classroom presentation modules that provide an overview of conflicts from American history and the role of the Citizen-Soldier:</p>
	<ul style="margin-left: 132px;">
		<li>War of 1812</li>
		<li>Civil War </li>
		<li>World War I</li>
		<li>World War II</li>
	</ul>

	<p>Each module helps students grasp the big picture of the conflict, as well as the daily lives of the brave men and women who served our country during these wars.</p> 

	<p>In some locations, replica artifacts are available which brings history to life as students get to handle original equipment previous era Citizen-Soldiers carried into battle. Comparing equipment from the Civil War, World War II, and that which is used today causes the history to pop off the screen! Artifacts vary from the forage caps worn by the Union and Confederate Soldiers in the Civil War to the venerable steel helmet worn by the American GI in World War II.</p> 

	<p>PowerPoint presentation slides and instructor insights provide thought-provoking interaction as well as student questions which form a basis for class discussion.</p> 

	<p class="answer">
		<a href="/images/downloads/HOP WWII brochure to educators.pdf" class="btn btn-small btn-info"><i class="icon-upload"></i> &nbsp; HOP - WWII module informational brochure.</a>
	</p>
	
	<h3>Program Requirements:</h3>
 
	<ul>
		<li>Up to 40 students with an educator in attendance</li> 
		<li>Computer projection system and screen</li>
		<li>45-minute lesson modules are available</li>
		<li>The HOP may be presented in 1 to 2 class periods</li>
	</ul>

	<h3>Curriculum Standards:</h3>

	<p>The Heritage Outreach Program fits best in high school social studies classes in either "Early American History" or "Modern American History." The HOP modules are ideal for college level classes as well.</p>

	<p>Heritage Outreach Program modules meet <strong>National</strong> Common Core Learning Standards.</p>
	<ul>
		<li>History/Social Studies Standards - Grades 11/12 - 1, 4, 6, 7, 8</li>
		<li>History/Social Studies Standards - Grades 9/10 - 1, 3, 4, 7, 8</li>
	</ul>

	<p>Heritage Outreach Program modules meet <strong>Minnesota</strong> DOE Standards and Common Core State Standards.</p>
	<ul>
		<li>Grades 9/10/11/12 - US History 1. E; I; M</li>
	</ul>

	<p>Heritage Outreach Program modules meet <strong>Virginia</strong> DOE Standards of Learning.</p>
	<ul>
		<li>Grade 9 - 9.4 g; 9.5 i</li>
		<li>Grade 10 - 10.2 b); 10.2 CF; 10.4 CF</li>
		<li>Grade 11 - 11.1 CF; 11.4 a); 11.4 b)</li>
		<li>Grade 12 - 12.4 c)</li>
	</ul>

	<br />
	<h3>Frequently Asked Question:</h3>

	<p><strong>Q: Why would our students care about Guard history?</strong></p>

	<p class="answer">Guard history is American history. The American Revolution was launched in Massachusetts and those soldiers were the first American Militia - later known as the Army National Guard. In peace, in war, in disasters such as floods, hurricanes, and tornadoes - the Guard has been there throughout our Nation’s history. The Heritage Outreach Program is designed to inform every student in your class on the big picture role of the Guard - for the last 375 years!</p> 

	<br />
	<h3>What other educators have said:</h3>

	<blockquote>
		The World War I and World War II presentations given by the National Guard representative were professionally done as he enriched my United States History class. I would strongly encourage any high school teacher to "tap into" this valuable resource for their U.S. History classroom.<br />
		<small>Ron Sedgwick &mdash; Social Studies Instructor &mdash; Prairie Du Chien HS, WI</small>
	</blockquote>

	<blockquote>
		The Heritage Outreach Program is excellent. It helps bring history and its perspectives alive in the classroom. It steps beyond the information of the textbook and helps students both visualize and conceptualize the causes of four major conflicts in American History and then goes in-depth about strategy, technology, daily life of soldiers, and the experiences the National Guard had in the conflicts. The presenters use a combination of PowerPoint presentations and replica artifacts from each conflict that promote visual, hands-on, engaged learning. This is a wonderful addition to any US History curriculum and I use it in my class every year.<br />
		<small>Marland Rachel &mdash; U.S. History Teacher &mdash; Kewanee HS, IL</small>
	</blockquote>

	<blockquote>
		The program was relevant and a great fit for this class. Students especially liked the hands on interaction and Wisconsin's role in the war. <br />
		<small>Dr. Joseph Huppy &mdash; Professor Military Geography &mdash; University of Wisconsin-Eau Claire</small>
	</blockquote>

		<br />
		<p>
			<a href="/arng/programs" class="btn btn-small"> Back to Programs </a>
		</p>
	
	</div>
	<div class="span4">

			<%= erb :'arng/form', layout: false %>

			<p><small>Not all programs are available at all locations.</small></p>
	
	</div>
</div>