<div class="row">	
	<div class="span9">
	
		<img src="/img/arng.svg" class="pull-left" style="padding-right: 24px; width: 60px;" />
		<h1>School Programs</h1>
			
	</div>
	<div class="span3">
		<a href="/arng/programs" class="btn btn-small btn-success pull-right">Back to Programs</a>
	</div>
</div>
<hr />
<div class="row">
	<div class="span8">
	
	<img src="/images/Programs/humvee.png" class="pull-left" style="margin: 0 24px 12px 0;" />
		
	<h2>HUMVEE School Program</h2> 

	<p>A National Guard representative will bring a HUMVEE to your school, demonstrate the vehicle's innovation and technology, and involve the students in a hands-on preventive maintenance check. The students love the hands-on aspect and it gives them a glimpse into the work routine of a National Guard mechanic or HUMVEE driver, as well as the engineering and technology of this impressive work-horse vehicle.</p>

	<p>From automotive engineering, to vehicle maintenance, the HUMVEE School Program exposes students to numerous career paths within the automotive field. Learning about the HUMVEE's history and technology is a unique learning experience, especially for students interested in vehicle maintenance careers.</p>

	<h3>Program Requirements:</h3>
 
	<ul>
		<li>10-25 students with an educator in attendance</li> 
		<li>Each single module is designed for 45-minute to 90-minute classes</li>
		<li>Minimal equipment requirements as the Army National Guard will bring a HUMVEE and trained instructor to your site</li>
		<li>The program can be presented in Career and Technology Education classes</li>
		<li>The program can also be given to JROTC classes</li>
	</ul>

	<h3>Learning Standards:</h3>

	<p>The HUMVEE School Program can help your school meet state &amp; national curriculum standards.</p>

	<p>HUMVEE School Program meets these <strong>National</strong> Common Core Learning Standards:</p>
	<ul>
		<li>Science / Technical Standards - for Grades 9, 10:  7</li>
		<li>Science / Technical Standards - for Grades 11, 12:  2, 3, 5, 7</li>
	</ul>

	<p>UMVEE School Program meets these <strong>Virginia</strong> DOE Standards of Learning:</p>
	<ul>
		<li>Science / Technical Standards - for Grade 9:  	9.1 l); 9.5 h</li>
		<li>Science / Technical Standards - for Grade 10:  	10.1 a); 10.5; 10.5 g)</li>
		<li>Science / Technical Standards - for Grade 11:	11.5 a)</li>
		<li>Science / Technical Standards - for Grade 12:	12.1 c)</li>
	</ul>

	<p>HUMVEE School Program also meets <strong>NATEF</strong> (National Automotive Technicians Education Foundation) Curriculum Connections standards.</p>

	<br />
	<h3>Frequently Asked Questions:</h3>

	<p><strong>Q: Is this a high risk activity where I have to worry about a student getting hurt?</strong></p>

	<p>No. The Guard HUMVEE instructors work with this vehicle all the time and they take all safety precautions. The activity will not place your students at risk.</p>

	<p><strong>Q: I don't really understand the big picture of the Guard, will that be explained?</strong></p>

	<p>If you wish, it can certainly be a footnote as the presentation wraps-up. When storms, floods, and disasters occur, the National Guard is there to help. When there is no flood, we still need good people to learn to be good Guard members - ready to serve.</p>
		
		<br />
		<p>
			<a href="/arng/programs" class="btn btn-small"> Back to Programs </a>
		</p>
	
	</div>
	<div class="span4">

			<%= erb :'arng/form', layout: false %>

			<p><small>Not all programs are available at all locations.</small></p>
	
	</div>
</div>