<div class="row">	
	<div class="span9">
	
		<img src="/images/arng_rgb_color.png" class="pull-left" style="padding-right: 24px; width: 60px;" />
		<h1>School Programs</h1>
			
	</div>
	<div class="span3">
		<p> </p>
	</div>
</div>
<hr />
<div class="row">
	<div class="span12">

		<h3>The National Guard can supplement your curriculum with a wide <br />variety of programs in support of your state's learning standards.</h3>

		<hr />

	</div>
	
	<div class="span8">
		<h4>Developed by Career Training Concepts</h4>
			<hr />
		<div class="row">
			<div class="span3" style="text-align: center;">
				<img src="/images/Programs/hear.png" style="margin: 0 24px 24px 0; text-align: center;">
			</div>
			<div class="span5">
				<a href="/arng/hear"><h3>H&middot;E&middot;A&middot;R</h3></a>
				<p>Developed in partnership with nationally renowned subject matter experts at the Harvard Graduate School of Education and University of Nebraska-Lincoln, students explore the topic of bullying in relation to National Guard Core Values and learn ways to minimize bullying and strengthen respectful behavior in their schools.</p>
			</div>
		</div>
			<hr />
		<div class="row">
			<div class="span3" style="text-align: center;">
				<img src="/images/Programs/cd2.png" style="margin: 0 24px 24px 0;">
			</div>
			<div class="span5">
				<a href="/arng/cd2"><h3>Career Direction 2</h3></a>
				<p>Students assess their career interests, personality, abilities, and values to make academic, career, and life goals. Additional subjects include resume development, job-getting strategies, and decision-making.</p>
			</div>
		</div>
			<hr />
		<h4>Developed by the National Guard</h4>
		<hr />
		<div class="row">
			<div class="span3" style="text-align: center;">
				<img src="/images/Programs/you-can.png" style="margin: 0 24px 24px 0; text-align: center;">
			</div>
			<div class="span5">
				<a href="/arng/youcan"><h3>YOU CAN School Program</h3></a>
				<p>Award-winning, dialogue-driven programs for 30+ issues relevant to young adults. Subjects include leadership, paying for college, diversity, communication, and substance abuse avoidance.</p>
			</div>
		</div>
			<hr />
		<div class="row">
			<div class="span3" style="text-align: center;">
				<img src="/images/Programs/guard-fit.png" style="margin: 0 24px 24px 0;">
			</div>
			<div class="span5">
				<a href="/arng/guardfit"><h3>Guard Fit Challenge</h3></a>
				<p>Students can get in shape with exercise, good nutrition, and proven workout techniques. Program is both health-based and performance-based. It is ideal for physical education classes.</p>
			</div>
		</div>
			<hr />
		
		<div class="row">
			<div class="span3" style="text-align: center;">
				<img src="/images/Programs/humvee.png" style="margin: 0 24px 24px 0;">
			</div>
			<div class="span5">
				<a href="/arng/humvee"><h3>HUMVEE School Program</h3></a>
				<p>Hands-on experience with an actual HUMVEE gives students an exciting and unique opportunity to learn about civilian and/or military vehicle maintenance careers.</p>
			</div>
		</div>
			<hr />
		<div class="row">
			<div class="span3" style="text-align: center;">
				<img src="/images/Programs/hop.png" style="margin: 0 24px 24px 0; text-align: center;">
			</div>
			<div class="span5">
				<a href="/arng/hop"><h3>Heritage Outreach Program</h3></a>
				<p>Engaging and entertaining history lessons presented with stories, images, maps, and hands-on replicas. Subjects include: the War of 1812, the Civil War, and World Wars I and II.</p>
			</div>
		</div>
	
	
	</div>
	
	<div class="span4">

			<%= erb :'arng/form', layout: false %>

			<p><small>Not all programs are available at all locations.</small></p>
	
	</div>
</div>