<div class="row">	
	<div class="span9">
	
		<img src="/img/arng.svg" class="pull-left" style="padding-right: 24px; width: 60px;" />
		<h1>School Programs</h1>
			
	</div>
	<div class="span3">
		<a href="/arng/programs" class="btn btn-small btn-success pull-right">Back to Programs</a>
	</div>
</div>
<hr />
<div class="row">
	<div class="span8">

	<img src="/images/Programs/you-can.png" class="pull-left" style="margin: 0 24px 12px 0;" />

	<h2>YOU CAN School Program</h2>
		
	<p>The <strong>YOU CAN School Program</strong> is an award-winning program that is delivered in classroom settings by Certified Presenters. There are over 35 separate titles! </p>

	<p>The tone is informal - these aren't lectures, they're conversations. The presenters are people who can connect with today's teenagers.  These highly motivational presentations will help students believe that they can shape their futures.  Our goal is to give them an essential skill or shift in their thinking, which helps them make wise decisions - right now and throughout their lives.</p>

	<p>Each module is approximately 45 minutes long but can be paired with other similarly-themed modules to fit block or period schedules.  The presentations are thematically categorized into 4 groups: </p> 

	<ul>		
		<li><a href="#" data-placement="right" data-trigger="hover" data-html="true" rel="popover" data-content="<b>Communication<br />Conflict Resolution<br />Diversity<br />Diversity II<br />Drugs & Alcohol<br />Health & Nutrition<br />Physical Fitness<br />Violence Prevention</b>"><strong>Health &amp; Social Well-Being</strong></a> presentations provide clear explanations and down-to-earth suggestions for staying safe and healthy and for learning how to get along with others.</li>
		<li><a href="#" data-placement="right" data-trigger="hover" data-html="true" rel="popover" data-content="<b>Budgeting Basics<br />FAFSA<br />Goal Setting<br />Interviewing<br />Leadership<br />Leadership II<br />Lifelong Learning<br />Memory Power<br />Paying for College<br />Problem Solving<br />Resume Writing<br />Study Techniques<br />Test-Taking Skills<br />Workplace Skills</b>"><strong>Life Betterment</strong> </a>presentations give students practical tips for developing life skills they can use now and in the future.</li>
		<li><a href="#" data-placement="right" data-trigger="hover" data-html="true" rel="popover" data-content="<b>American Documents<br />American Flag<br />American Flag II<br />Freedom<br />Map Reading<br />Military Awareness<br />National Guard Benefits<br />National Guard History<br />National Guard History II<br />National Security<br />Patriotism</b>"><strong>Discovery</strong> </a>modules helps students understand the American identity and figure out how Americans relate to the rest of the world.</li>
		<li><a href="#" data-placement="right" data-trigger="hover" data-html="true" rel="popover" data-content="<b>Earthquakes<br />Floods<br />Hurricanes<br />Tornados</b>"><strong>Disaster Preparedness</strong> </a>workshops show students what they can do to keep themselves and their families safe when disaster occurs.</li>
	</ul>

	<p>With so many topics, the YOU CAN School Program is extremely versatile and can easily fit into Health, Physical Education, Career Education, and History/Global Studies.  Additionally, they are applicable with a variety of clubs, teams, and other leadership groups. As an example of their flexibility, the "Drugs and Alcohol Education" module is a great fit with health and PE, but could also fit in science, chemistry, or biology classes. It is also an excellent module prior to Prom or Homecoming.</p> 

	<h3>Program Requirements:</h3>
 
	<ul>
		<li>Up to 40 students with an educator in attendance</li> 
		<li>Minimal equipment requirements</li>
		<li>Each single module is designed for 45-minute</li>
	</ul>

	<h3>Learning Standards:</h3>

	<p>Each of the modules meets specific State Learning Standards. Click on the appropriate link below to see a chart listing how each module correlates.</p> 
	<p>
		<a href="/images/downloads/National Common Core Standards & YCSP.pdf" class="btn btn-small btn-info" style="margin-bottom: 6px;"><i class="icon-info-sign"></i> &nbsp; <strong>National</strong> &nbsp; Common Core Learning Standards</a><br />
		<a href="/images/downloads/MN Standards linked with YCSP.pdf" class="btn btn-small btn-info" style="margin-bottom: 6px;"><i class="icon-info-sign"></i> &nbsp; <strong>Minnesota</strong> &nbsp; DOE Standards and Common Core State Standards</a><br />
		<a href="/images/downloads/VA Standards of Learning YCSP.pdf" class="btn btn-small btn-info" style="margin-bottom: 6px;"><i class="icon-info-sign"></i> &nbsp; <strong>Virginia</strong> &nbsp; DOE Standards of Learning</a>
	</p>

	<br />
	<h3>Frequently Asked Questions:</h3>

	<p><strong>Q: Is this just a recruiting push where the Guard is sold to my students?</strong></p>

	<p>No. Guard Representatives teach these workshops as a way of building trust and rapport with students and faculty while doing something of value for the community and the students. If we do something that has value to all the students in the classroom, then those that may be military inclined will naturally seek us out to ask questions at another time. Your students will not be pressured.</p>

	<p><strong>Q: I don't really understand the big picture of the Guard, will that be explained?</strong></p>

	<p>If you wish, it can certainly be a footnote as the presentation wraps-up. When storms, floods, and disasters occur, the National Guard is there to help. When there is no disaster, we still need good people to learn to be good Guard members - ready to serve.</p>

	<br />
	<h3>What other educators have said:</h3>

	<blockquote>
		The issues addressed by the YOU CAN School Program better enable our students to make a smooth transition into the workforce.<br />
		<small>Dr. Ray Davis &mdash; SC Department of Education</small>
	</blockquote>

	<blockquote>
		It was an awesome day. What deep and interesting topics. (YCSP...Freedom &amp; Conflict Resolution) <br />
		<small>Jim Gill &mdash; American History Teacher &mdash; Binghamton HS, NY</small>
	</blockquote>   

	<blockquote>
		I can’t believe that you and SFC Hicks were able to lead both diverse presentations in my class during the same day. The students were really involved. I really liked the way you presented both Drugs &amp; Alcohol and Conflict Resolution.<br />
		<small>Justine Peltier &mdash; Schenectady HS (Health Teacher)</small>
	</blockquote>   

	<blockquote>
		The YOU CAN School Program broadens students' perspectives and helps them set their goals higher.<br />
		<small>Becky Rowan &mdash; Guidance Counselor &mdash; Pearl High School</small>
	</blockquote>

		<br />
		<p>
			<a href="/arng/programs" class="btn btn-small"> Back to Programs </a>
		</p>
	
	</div>
	<div class="span4">

			<%= erb :'arng/form', layout: false %>

			<p><small>Not all programs are available at all locations.</small></p>
	
	</div>
</div>