<div class="row">
	<div class="span12">
		<h1 style="font-size: 36px;">Are you interested in joining the growing CTC Team?</h1>
	</div>
</div>
<hr />
<div class="row">
	<div class="span4">
		<img src="images/jan.jpg" class="img-polaroid round-corners" />
	</div>
	<div class="span7" style="margin-left: 52px;">
		<p><b>Career Training Concepts, Inc.</b> is always looking for talented and motivated personnel.</p>
		<p>Click the link below to view our current list of job openings, which will allow you to learn more about the current positions for which we are seeking applicants.</p>
		<p>To ensure proper routing, resumes should be submitted through the online job listing service.</p>
		<p style="margin-top: 18px;">
		<a id="jobSearchLink" href="https://secure.entertimeonline.com/ta/MNH215.jobs?JobsSearch=1" class="btn btn-primary">Career Opportunities</a>
	</p>
	</div>
	<div class="span12"  style="font-size: .9em; text-align: center;">
		<hr />
		<p>CTC is an Equal Opportunity Employer.<br />
		This means that we will extend equal opportunity to all individuals without regard for race, religion, 
		<br />color, gender, sexual orientation, gender identity, national origin, age, disability, protected veteran status, 
		<br />citizenship status, genetic information, or any other legally protected category.</p>
		<p>Job applicants have rights under Federal Employment Laws.</p>
		<p><a href="http://www.dol.gov/ofccp/regs/compliance/posters/pdf/eeopost.pdf" target="blank" class="btn btn-mini btn-info">Equal Employment Opportunity</a></p>
		<p><a href="http://www.dol.gov/whd/regs/compliance/posters/fmlaen.pdf" target="blank" class="btn btn-mini btn-info">Family and Medical Leave Act</a></p>
		<p><a href="http://www.dol.gov/whd/regs/compliance/posters/eppac.pdf" target="blank" class="btn btn-mini btn-info">Employee Polygraph Protection Act</a></p>
	</div>
</div>