<div class="row">
	<div class="span12">
		<h1>Contact Information</h1>
	</div>
</div>
<hr />
<div class="row">
	<div class="span6">
		<h3>Career Training Concepts Inc.</h3> 
		<p>2060 East Exchange Place, Suite 120<br />
		Tucker, GA 30084</p>
		
		<p><strong>770-326-9229</strong> &nbsp; <small>PHONE</small><br />
		<strong>888-326-9229</strong> &nbsp; <small>TOLL FREE</small><br />
		<strong>770-729-8099</strong> &nbsp; <small>FAX</small></p>
		
		<a href="mailto:info@careertrain.com" class="btn btn-info"><i class="icon-envelope-alt"></i>&nbsp; &nbsp;Ask questions</a><br />
	</div>
	<div class="span6">
		<img src="/images/ctc_logo_desc.jpg"><br /><br />
	</div>
	<div class="span12">
		
		<br />
		<p style="text-align: center;" class="lead sign-in spaced">Our corporate purpose is to provide training, publications, and personnel services that meet customer<br />objectives while helping individuals achieve balanced success, professionally and personally.</p>
	</div>
	<br /><br />
</div>

