<div class="row">
	<div class="span12">
		<h1>Corporate Team</h1>
	</div>
</div>
<hr />
<div class="row">
	<div class="span6">
		<img src="images/ctc/JimmyShafe.jpg" class="corp_pic img-polaroid pull-left" />
		<br />
		<h4>Jimmy Shafe</h4>
		<p><small>President/Owner<br />Started company in 1973</small></p>
		<p style="margin-right: 32px;">Jimmy's primary responsibilities include overall guidance and direction of the company; creation and delivery of custom training packages; marketing and project management of corporate initiatives; and instruction and speaking at numerous training events and conferences. Some of his accomplishments include: leading the project team in the creation of Career Direction, an outreach package that has been presented to over 6 million high school students nationwide; leading the team in creation of the HEAR anti-bullying workshops in collaboration with professors from the University of Nebraska-Lincoln and the Harvard Graduate School of Education; and primary creator of the TEAM leadership training initiative for more than 200,000 Army National Guard leaders.</p>
	</div>
	<div class="span6">
		<img src="images/ctc/MatthewMorgan.jpg" class="corp_pic img-polaroid pull-left" />
		<br />
		<h4>Matthew Morgan</h4>
		<p><small>Vice President, Operations<br />Joined CTC in 1994</small></p>
		<p style="margin-right: 32px;">Matthew has been employed at CTC for his entire professional career, where his creativity and analytical skills have been integral factors in CTC's growth and success. Matthew has oversight of all company operations, ensuring all departments are working seamlessly to deliver outstanding service to internal and external customers, including over 100 offsite employees. He is responsible for the development and management of CTC's multiple Web sites, and, as part of the CTC management team, he is heavily involved in new business development and strategic planning.</p>
	</div>
</div>
<br />
<div class="row">
	<div class="span6">
		<img src="images/ctc/LennonRichards.jpg" class="corp_pic img-polaroid pull-left" />
		<br />
		<h4>Lennon Richards</h4>
		<p><small>Controller<br />Joined CTC in 2010</small></p>
		<p style="margin-right: 32px;">Lennon brings a wealth of business experience to CTC, having worked at companies in various industries ranging from start-up to world leader. A 30-year veteran in the areas of finance and accounting, he believes fiscal discipline and active process management and improvement are essential to the success of any business. Lennon is committed not only to the accuracy and reliability of our financial records, but also to maintaining healthy relationships with our financial partners and customers.</p>
	</div>
	<div class="span6">
		<img src="images/ctc/KathleenMagbeeBrown.jpg" class="corp_pic img-polaroid pull-left" />
		<br />
		<h4>Kathleen Magbee</h4>
		<p><small>HR Director<br />Joined CTC in 2004</small></p>
		<p style="margin-right: 32px;">Kathleen began at CTC when it was a smaller team and was instrumental in the growth of our personnel services division. In the process of that growth, she created an HR department that is committed to exceptional customer - and team member - support. As a member of the management team, Kathleen is involved in strategic planning and policy development.</p>
	</div>
</div>
<br />
<div class="row">
	<div class="span6">
		<img src="images/ctc/AmySmith.jpg" class="corp_pic img-polaroid pull-left" />
		<br />
		<h4>Amy Smith</h4>
		<p><small>Educational Programs Consultant<br />Joined CTC in 2012</small></p>
		<p style="margin-right: 32px;">Amy originally joined CTC in 2012 as an educational liaison for the state of Georgia. After a year's experience in that role, she then became CTC's Director of Educational Programs in the fall of 2013. Amy earned a Ph.D. in Educational Psychology and has enjoyed teaching, consulting, managing research projects, studying abroad and writing. With a particular interest in helping students develop positive self-concepts, motivation, and knowledge and skills needed for successful futures, Amy encourages educators and members of the sponsoring organization, the Army National Guard, to effectively take advantage of CTC's educational resources. Amy currently serves as a consultant to CTC.</p>
	</div>
	<div class="span6">
		<img src="images/ctc/JeffMusumeche.jpg" class="corp_pic img-polaroid pull-left" />
		<br />
		<h4>Jeff Musumeche</h4>
		<p><small>Trainer / Program Manager<br />Joined CTC in 2012</small></p>
		<p style="margin-right: 32px;">Jeff wears multiple “hats” for CTC, to include conducting training programs for multiple clients, such as AmeriCorps, the USAF, and the National Guard. He also serves as the program manager for numerous CTC personnel support contracts. Prior to joining CTC, Jeff served over 26 years in the Army National Guard, including a deployment to Iraq. His last position with the Louisiana ARNG was as the Recruiting and Retention Commander. Jeff’s in-depth knowledge of the Guard makes him the perfect person to lead multiple CTC programs that serve the Guard.</p>
	</div>
</div>
<br />
<div class="row">
	<div class="span6">
		<img src="images/ctc/DebStorm.jpg" class="corp_pic img-polaroid pull-left" />
		<br />
		<h4>Jody Bender</h4>
		<p><small>Executicve Assistant<br />Joined CTC in 2018</small></p>
		<p style="margin-right: 32px;">Jody has been part of the CTC family for over 10 years and serves as the executive assistant and office manager. Jody also serves as the go-to person for CTC's counselor examination study publications. Jody previously worked in public education.</p>
	</div>
	<div class="span6">
		<img src="images/ctc/SandiZimmerman.jpg" class="corp_pic img-polaroid pull-left" />
		<br />
		<h4>Sandi Zimmerman</h4>
		<p><small>Contracts Specialist Consultant<br />Joined CTC in 2005</small></p>
		<p style="margin-right: 32px;">Sandi was employed by the GA National Guard for 27 years and retired as the Supervisory Contract Specialist (SPS). She was responsible for all CTC contracting support and liaison with government contracting offices and now serves as a contracting consultant for CTC. Sandi's knowledge of solicitation requirements and expertise in writing proposals resulting in contract awards has contributed significantly to CTC's growth.</p>
	</div>
</div>
<br />
<div class="row">
	<div class="span6">
		<img src="images/ctc/KarleneRichards.jpg" class="corp_pic img-polaroid pull-left" />
		<br />
		<h4>Karlene Richards</h4>
		<p><small>Finance Aand HR professional<br />Joined CTC in 2018</small></p>
		<p style="margin-right: 32px;">Karlene joined CTC in 2016 and brings a strong background Knowledge to HR. In addition, in 2019 she assumed the role of accounts payable and receivable.</p>
	</div>

</div>