<div class="row">	
	<div class="span12">
	
		<img src="/images/arng_rgb_color.png" class="pull-left" style="padding-right: 24px; width: 60px;" />
		<h1>eduCONNECT&trade; Program</h1>
			
	</div>
</div>
<hr />
<div class="row">
	<div class="span4">

		<img src="/images/grads.jpg" class="pull-left img-polaroid round-corners" style="margin: 0 24px 12px 0" />
		
	</div>
	<div class="span7" style="margin-left: 52px;">

		<p>The <strong>eduCONNECT&trade; Program</strong> acts as a bridge between the Army National Guard and our country’s secondary and post-secondary educational institutions.</p>
		<p>Our eduCONNECT&trade; representatives assist the National Guard with its community service mission by promoting education and life skills workshops to high 
		schools, technical schools, colleges and youth-oriented agencies.</p> 
		<p>The eduCONNECT&trade; Program's goal is to help today’s youth have a better sense of who they are, what they want to do, and how to achieve success.</p> 
		<p>These education and life skills programs are <strong><em>provided at no cost</em></strong>&nbsp; to schools as they are sponsored and funded by the National 
		Guard.</p>
		<p>For more information, please contact your state’s eduCONNECT&trade; representative.</p>
		
		<p><a href="/elp-contacts" class="btn btn-info"><i class="icon-info-sign"></i> &nbsp; eduCONNECT Representative</a></p>

	</div>
</div>