<div class="row">
	<div class="span12">
		<h1>GSA Contract Information:</h1>
	</div>
</div>
<hr />

<div class="row">
	<div class="span12">
		<img src="/images/gsa-logo.jpg" style="margin: 12px 48px 36px 0">
		<p>A GSA schedule is a federally awarded, long-term contract that lists the prices the federal government has agreed to pay for a vendor's commercial products and services. GSA schedules are the favored purchasing mechanism for most federal buyers. CTC has two GSA schedules:</p>
	</div>
</div>

<br />
<div class="row">
	<div class="span8 offset1 sign-in spaced">

	<h3 style="color: rgb(0,125,203);">GSA Schedule 736</h3>
Temporary and Administrative Professional Staffing (TAPS)<br />
Contract Number: GS-07F-9674S
	</div>
</div>
	<br />
<div class="row">
	<div class="span8 offset1 sign-in spaced">
		<h3 style="color: rgb(0,125,203);">GSA Schedule 874</h3>
Mission Oriented Business Integrated Services (MOBIS)<br />
Contract Number: GS-02F-001CA 
	</div>
</div>
<br />

<div class="row">
	<div class="span12" style="margin-top: 18px">
		<p>To request CTC’s current GSA pricing, please contact us at: &nbsp; <a href="mailto:info@careertrain.com" class="btn btn-mini btn-info"><i class="icon-envelope-alt"></i> &nbsp; info@careertrain.com</a>
		</p>
		<br />
	</div>
</div>
