<li class="dropdown <%= active ['programs','hear','youcan','guardfit','cd2','humvee','hop'] %>"> 
 	<a href="#" class="dropdown-toggle" data-toggle="dropdown">ARNG School Programs <b class="caret"></b></a>
  <ul class="dropdown-menu">  
    <li class="<%= active 'programs' %>"><a href="/arng/programs">Overview</a></li>
    <li class="<%= active 'hear' %>"><a href="/arng/hear">H&middot;E&middot;A&middot;R</a></li>
	 <li class="<%= active 'youcan' %>"><a href="/arng/youcan">You Can</a></li>
    <li class="<%= active 'guardfit' %>"><a href="/arng/guardfit">Guard Fit</a></li>
    <li class="<%= active 'cd2' %>"><a href="/arng/cd2">Career Direction 2</a></li>
    <li class="<%= active 'humvee' %>"><a href="/arng/humvee">HUMVEE</a></li>
    <li class="<%= active 'hop' %>"><a href="/arng/hop">Heritage Outreach</a></li>
  </ul> 
</li>