<div class="row">
	<div class="span12">
		<h1>Partner Organizations</h1>
	</div>
</div>
<hr />

<div class="row">
	<!-- <div class="span6">

		<a href="http://www.mpscrc.com" target="_blank"><h3>Military Personnel Services Corporation</h3>

		<p><img src="images/mpsc.jpg" class="img-polaroid round-corners" /></p></a>
		<p>Headquartered in Falls Church, VA, MPSC provides solutions to solve complex problems in the areas of human resource and personnel management programs, budgeting and financial services, information technology services, and homeland security. CTC has partnered with MPSC in a number of training and personnel services contracts for DoD customers.</p>

	</div> -->
	<div class="span6">
		
		<a href="http://www.kennesaw.edu/burruss_inst/" target="_blank"><h3>Burruss Institute for Public Service</h3>	

		<p><img src="images/burruss.jpg" class="img-polaroid round-corners" /></p></a>
		<p>The A.L. Burruss Institute of Public Service & Research is affiliated with Kennesaw State University in Georgia. Their mission is to enhance the ability of governmental agencies and non-profit organizations to make informed decisions for the public good by providing relevant data, technical resources, and skill development. CTC has partnered with Burruss on initiatives including teen driving safety, leadership training for the GA Department of Juvenile Justice, and on studies related to public education.</p> 
		
	</div>
	<div class="span6">

		<a href="http://www.discovernac.org" target="_blank"><h3>National Ability Center</h3> 	

		<p><img src="images/nac.jpg" class="img-polaroid round-corners" /></p></a>
		<p>The National Ability Center in Park City, Utah provides recreational experiences for special needs clients from age 3 to age 75. Their motto is consistent with CTC’s philosophy of self challenge and motivation:  “If I can do this, I can do anything.”</p>
					
	</div>
</div>
<br />
<div class="row">
	<div class="span6">
	
		<a href="http://www.summitfacilitators.com" target="_blank"><h3>Summit Consultants</h3>

		<p><img src="images/summit.jpg" class="img-polaroid round-corners" /></p></a>
		<p>This service-disabled, veteran owned small business provides certified professional facilitation services and facilitation training. CTC has successfully partnered with this company to provide supplemental facilitation services to our customers, and we have even used their facilitators on numerous occasions. If you need a professional facilitator, we highly recommend!</p>

	</div>
	<div class="span6">
		<a href="http://www.row.org/category/chapters/congo_kasai" target="_blank"><h3>Rivers of the World</h3>	

		<p><img src="images/row.jpg" class="img-polaroid round-corners" /></p></a>
		<p>Rivers of the World is a not-for-profit Christian organization that serves remote areas of the world. ROW meets with the indigenous people, discovers their problems, and makes them our problems. Jimmy Shafe is the Director of the ROW Congo-Kasai Chapter.</p>
		
	</div>
</div>

<br />
<div class="row">
	<div class="span6">
	
		<a href="http://www.UPCongo.org" target="_blank"><h3>Université Protestante au Congo</h3>	

		<p><img src="images/upcongo.jpg" class="img-polaroid round-corners" /></p></a>
		<p>Université Protestante au Congo is a university (theology, law, business, medicine) in Kinshasa, Democratic Republic of the Congo. Jimmy Shafe serves on the North American Liaison Bureau Board.</p>
		
	</div>
	
</div>
