<div class="row">
	<div class="span12">
		<h1>Personnel Services</h1>
	</div>
</div>
<hr />

<div class="row">
	<div class="span12">
		
		<p>CTC has numerous contracts providing personnel support at the national and state agency level. We have placed over 300 contract employees in various locations throughout the country.</p>
		
	</div>
</div> 
<br />
<div class="row">
<div class="span3 sign-in spaced">
	<h2 style="color: rgb(85,127,43);">Our People:</h2> 
	<p>We work with your staff to identify and select highly qualified employees. CTC’s commitment is to only hire personnel that you are confident can do the job.</p> 
</div>
<div class="span3 sign-in spaced">
	<h2 style="color: rgb(0,125,203);">Our Benefits:</h2> 
	<p>We provide a comprehensive, high-quality benefits package to our employees. Quality benefits help retain quality employees.</p>
</div>
<div class="span4 sign-in spaced">
	<h2 style="color: rgb(132,52,24);">Our Standards:</h2>
	<p>We provide, at no additional cost to the government, both on-site supervision and external program management of employees. CTC’s commitment is to be fully accountable to you to ensure we fulfill our roles and responsibilities.</p> 
</div>
</div>
<br />
<div class="row">
	<div class="span12">
	
			<p class="clear">When you select CTC contract personnel, you get our whole team. CTC has the internal resources to provide advice and assistance in all aspects of contract management. For example, our contracting specialist has over 27 years of experience in government Contracting and Purchasing. With resources like this to draw upon, CTC can advise and assist our customers in the successful navigation of the contracting process.</p>

	</div>
</div>

<div class="row">
	<div class="span12">
	
		<h1>Sample client list:</h1>
		<hr />

		<dl>
			<dt>U.S. Army</dt><dd>Brooke Army Medical Center, Administrative Support<dd>
			<dt>Army National Guard</dt><dd>Recruit Sustainment Program (in 12 states)</dd>
			<dt>Army National Guard</dt><dd>Education Liaison Program (in 26 states)</dd>
			<dt>Army National Guard</dt><dd>Recruiting & Retention Command Support (in 11 states)</dd>
			<dt>Army National Guard</dt><dd>Fort Chaffee, Instructors and Training Support</dd>
			<dt>Army National Guard</dt><dd>Regional Training Institute, Instructors</dd>
			<dt>Army National Guard</dt><dd>State Surgeon, Medical Support Specialist</dd>
			<dt>Army National Guard</dt><dd>USPFO, Contracting and Accounting Support (in 2 states)</dd>
			<dt>Army National Guard Bureau</dt><dd>Army Installations Div., Training Support</dd> 
			<dt>U.S. Navy</dt><dd>Naval Medical Center Portsmouth, Medical Clerks</dd>
		</dl>
	</div>
</div>

