<div class="row">
	<div class="span12">
		<h1>Publications</h1>
	</div>
</div>
<hr />
<div class="row">
	<div class="span12">
		<p>CTC publishes a variety of training, educational, and personal development materials. To complement our live training programs, we provide customized student materials for each program. We can also provide various publications and instruments as a supplement to our training.</p>
	</div>
</div>

<hr />

<div class="row">
	<div class="span12">
		<h2 style="margin-bottom: 20px;">Bullying Prevention</h2>
	</div>
</div>
<div class="row">
	<div class="span6">
		<p class="pull-left space">
			<img src="images/hear-cover.jpg" class="img-border" width="160px" /><br /><br />
			<a href="http://project-hear.us" class="btn btn-small" taeget+"blank">project-hear.us</a>
		</p>
		<h4>H&middot;E&middot;A&middot;R</h4>
		<p style="margin-top: -12px;"><small>Helping Everyone Achieve Respect</small></p>
		<p style="margin: 0 14px 0 180px;">This anti-bullying workbook and presentation set is designed specifically for high school students. The materials were developed in collaboration with nationally renowned subject matter experts at the Harvard Graduate School of Education and the University of Nebraska-Lincoln. It is sponsored by the Army National Guard and there are no costs to schools.</p>
	</div>
	
</div>



<hr />

<div class="row">
	<div class="span12">
		<h2 style="margin-bottom: 20px;">Career Guidance</h2>
	</div>
</div>
<div class="row">
	<div class="span6">
		<p class="pull-left space">
			<img src="images/cd2-cover.jpg" class="img-border" width="160px" /><br /><br />
			<a href="http://careertrain.com" class="btn btn-small" taeget+"blank">careertrain.com</a>
		</p>
		<h4>Career Direction 2</h4>
		<p style="margin: 0 14px 0 180px;">This is a comprehensive career guidance program designed for high school and college students. Career Direction 2 is the revised version of the Career Direction program that has helped guide students since 1987. CD2 is designed to be presented in a classroom setting and is supplemented with video vignettes and Internet tools, such as its Resume Template Builder.</p>
	</div>
	<div class="span6">
		<p class="pull-left space">
			<img src="images/ff.png" class="img-border" /><br /><br />
			<a href="http://careertrain.com" class="btn btn-small" taeget+"blank">careertrain.com</a>
		</p>
		<h4>FUTUREFOCUS</h4>
		<p>Similar to Career Direction, this program is designed to introduce career guidance and substance abuse education to middle school students. It is available for purchase directly by schools and school systems.</p>
		
	</div>
</div>



<hr />

<div class="row">
	<div class="span12">
		<h2 style="margin-bottom: 20px;">Counselor Study Guides</h2>
	</div>
</div>


<div class="row">
	<div class="span6">
		<p class="pull-left space">
			<img src="images/nce-cover.png" width="160px" /><br /><br />
			<a href="http://counselorexams.com" class="btn btn-small" taeget+"blank">counselorexams.com</a>
		</p>
		<h4>Dr. Arthur’s Study Guide for the National Counselor Examination (NCE)</h4>
		<p style="margin: 0 0 0 180px;">This comprehensive guide is designed for those who need to pass one of two licensure exams to become a licensed professional counselor. The Guide provides an in-depth review of the relevant content areas, as well as over 600 practice exam questions.</p>
		
	</div>

	<div class="span6">
		<p class="pull-left space">
			<img src="images/ncmhce-cover.png" width="160px" /><br /><br />
			<a href="http://counselorexams.com" class="btn btn-small" taeget+"blank">counselorexams.com</a>
		</p>
		<h4>Arthur-Brende Study Supplement for the NCMHCE</h4>
		<p style="margin: 0 0 0 180px;">This guide supplements the online NCMHCE Scenario Simulator that measure a counselor’s information gathering and decision making abilities. Included in the supplement are strategies for taking the NCMHCE, as well as a succinct overview of the DSM-IV-TR Diagnostic Manual.</p>
	</div>
	
</div>
	
<hr />	
	
<div class="row">
	<div class="span12">
		<h2 style="margin-bottom: 20px;">Leadership</h2>
	</div>
</div>


<div class="row">
	<div class="span6">
		<img src="images/team1cover.jpg" class="img-border pull-left space" />
		<h4>T.E.A.M. I: Building Productivity</h4>
		<p style="margin: 0 9px 0 130px;">The first in a series of four-hour training modules in booklet form designed to enhance team leader and team member performance. T.E.A.M. I (Trust, Empowerment, Attitude, Motivation) focuses on the subjects of building trust, dealing with change, effective correcting methods, and personal motivation.</p>
	</div>

	<div class="span6">
		<img src="images/team2cover.jpg" class="img-border pull-left space" />
		<h4>T.E.A.M. II: Working with Others Effectively</h4>
		<p style="margin: 0 9px 0 130px;">The second module of the T.E.A.M. program focuses on understanding different personalities and behavior styles, organizational structure and needs, and effective mentorship.</p>
	</div>
</div>
<br /><br />
<div class="row">
	<div class="span6">
		<img src="images/team3cover.jpg" class="img-border pull-left space" />
		<h4>T.E.A.M. III: Building Organizational Commitment</h4>
		<p style="margin: 0 9px 0 130px;">The third module covers how organizations can develop stronger workplaces by helping employees with their personal & professional development. It also shows leaders how to apply the work-related motivation theories of Dr. Frederick Herzberg to their own workplace situations.</p>
	</div>
</div>
<hr />
<div class="row">
	<div class="span12">
		<h2 style="margin-bottom: 20px;">Personal Development</h2>
	</div>
</div>

<div class="row">
	
	<div class="span6">
		<img src="images/attitude_cover.jpg" class="pull-left space img-border" />
		<h4>How To Develop An Attitude for Success</h4>
		<p>A self-help book with an inspirational message designed to facilitate self-evaluation and strengthen the reader.</p>
	</div>
</div>
