<div class="row">
	<div class="span12">
		<div class="row"><br /><br />
			<form method="post">
			
			<div class="sign-in span5 offset3" style="padding: .5em 2.5em 2em 2.5em;">
		  
		    <h1>Sign in</h1> <br />
			    
			  <label for="email">Email address</label>
				<input type="text" class="textfield" style="padding: 9px 14px; width: 93%;" name="email" id="email" value="<%= params[:email] %>" />
					<br /><br />
				<label for="password">Password</label>
				<input type="password" class="textfield" style="padding: 9px 14px; width: 93%;" name="password" id="password" value="<%= params[:password] %>" />
					<br /><br />
		    <input type="submit" class="btn btn-success pull-right" value="Sign in" />
		    
		   </div>
		
			</form>
			
		</div><br /><br />
	</div>
</div>

