<div class="row">	
	<div class="span9">
	
		<img src="/images/arng_rgb_color.png" class="pull-left" style="padding-right: 24px; width: 60px;" />
		<h1>School Programs</h1>
			
	</div>
	<div class="span3">
		<p> </p>
 	</div>
</div>
<hr />
<div class="row">
	<div class="span12">

		<br /><br /><br /><br /><br />

		<h3 style="text-align: center;">Thank you for your National Guard school programs request!</h3>

		<p style="text-align: center;">Your request has been forwarded to your local National Guard representative, who should be contacting you within the week.</p> 

		<p style="text-align: center;">If you have do not hear from anyone regarding your request within a week, please contact: <br /><br /><a href="mailto:info@careertrain.com" class="btn btn-info"><i class="icon-envelope-alt"></i> &nbsp; info@careertrain.com</a></p>

		<br /><br /><br /><br /><br /><br />
	
	</div>
	
</div>