<div class="row">
	<div class="span12">
		<h1>Training Services</h1>
	</div>
</div>
<hr />

<div class="row">
	<div class="span6">

		<p>Our training services are based on the principle that a well-trained employee is more productive. This higher level of productivity benefits both the organization and the employee, who is rewarded through career advancement and self-satisfaction.</p>
		
		<p>Our clients are provided customized, comprehensive, high-quality instruction ranging from introductory level workshops to advanced seminars for executive management. Our subject matter is highly flexible and is continually evaluated for modification. Classroom sessions incorporate numerous instructional methods based on effective adult learning techniques and are highly participatory.</p> 
		
		<p>By including Action Plans in most workshops, our training is designed and delivered to ensure the content is immediately applicable on the job.</p>
		
	</div>
	<div class="span6">
		
		<p>Some of the corporations that we have provided Customer Service and Professional Development training to include:</p>
		<dl class="norm">
			<dt>The Coca-Cola Company</dt> <dd>Orkin</dd>
			<dt>Verizon</dt> <dd>Snapper Power Equipment</dd>
			<dt>Apex Plumbing Solution</dt> <dd>Puritan Churchill Chemicals</dd>
			<dt>The Equitable</dt> <dd>Rollins Protection Services</dd>
			<dt>BellSouth</dt> <dd>OKI</dd>
			<dt>Initial Contract Services</dt> <dd><br /></dd>
		</dl> 
		
		<p>We have also provided Team Building and Leadership training programs to several branches of the U.S. Armed Forces, Employer Support of the Guard and Reserve (ESGR), the U.S. Probation Office, the Federal Prison System, and the Georgia Department of Juvenile Justice.</p>

	</div>
</div>

<br />

<div class="row">
	<div class="span12">
		<h1>Training Development</h1>
	</div>
</div>
<hr />
<div class="row">
	<div class="span6">
		<p>Our team is fully capable and engaged in training development through all phases of the ADDIE process: Analysis, Design, Development, Evaluation, and Validation. We have developed and maintain more than fifty courses of instruction for the Army National Guard Professional Education Center. A description of our processes:</p>
	
	
	<h3>Analysis</h3>

	<p>Training analysis processes provide information for the design and development of training that, in turn, is used to produce Soldiers and civilians capable of performing their tasks and duties.</p>

	<p>Training analysis identifies valid training and non-training solutions to unit and individual performance deficiencies. It determines what is trained in the form of critical individual tasks and supporting skills and knowledge and establishes Training Development requirements. The end results of the analysis processes identify the task(s), conditions, standards, performance measures, and other specifications needed to perform a task. The primary types of analyses performed by our team are: needs analysis, outcomes analysis, target audience analysis, job analysis, individual task analysis, and resource analysis.</p>

<h3>Design</h3>

	<p>Design is a planning process that occurs prior to the development phase. It is transitional. Analysis phase products are reviewed again, revised if necessary, and are used to inform the design processes. As the design process continues, some products are completed, and others are started for completion during development.</p>

	<p>Design produces the details of “when,” “where,” and “how” learning outcomes will be met. If the results of analysis represent a need for learning, then the design process begins. The products created during the analysis phase are used to identify the course and lesson components. It involves generating solutions for both well and ill-defined problems, transforming design requirements into design specifications. During this phase, learning outcomes are generated, content is sequenced, assessments and strategies are designed, instructional message, media types and delivery systems are determined, and evaluation plans developed.</p>


<h3>Development</h3>

	<p>During the development phase, course materials are developed according to course design specifications. During this phase, sections of the course have operational trials and are redesigned according to needs. Adaptation of existing materials is performed, prototypes are developed, and final instructions are given, along with implementation guidelines. Evaluations are conducted throughout this phase. The development of the course will vary depending on the instructional environment and course strategies / content / objective needs.</p>

	<p>A course is prescriptive and trains the critical tasks and knowledge/skills required for qualification of a specific job. Producing a course involves all of the ADDIE processes. It involves the creation or revision of all course documentation (instructional materials, tests, student handouts, student assessment plan). The training products listed are considered complete when all included training materials have been developed and validated, and the authority for implementation has approved the course.</p>
	
	</div>

	<div class="span6">

<h3>Evaluation</h3>

<h4>Internal Evaluation</h4>

	<p>Internal evaluations for new and existing courses provide the means to determine whether the training and training development efforts have accomplished what was intended. Internal evaluations focus on the training development process and the measurement of learning that was gained from the training program in an effort to continually improve instructional system quality and effectiveness.</p>

<h4>Course-Curriculum Review</h4>

	<p>The objective of the Course Curriculum Review (CCR) is to provide the customer with a comprehensive internal evaluation process that can assess the overall health and wellness of a course and to collectively determine the specific entry point(s) within the ADDIE Process (if required) to improve course effectiveness.</p>

<h4>External Education/Training Evaluation</h4>

	<p>External evaluation is the process that provides the means to determine if the training received meets the needs of the operational Army or other military branch or Governmental organization. This evaluation will verify that the system continues to effectively and cost-efficiently produce graduates who meet established job performance requirements, needed all of the instruction they received, and did not need any instruction they did not receive. The external evaluation is considered complete when external evaluation feedback is provided to the training department to correct deficiencies and deficiencies are corrected.</p>


<h4>Validation</h4>

	<p>Validation is used to determine the efficiency and effectiveness of a new or revised training product/material in training the target audience to accomplish the established learning objectives. The training proponent considers the validation complete when the designated representative signs off on the validation and the results are disseminated to the appropriate information users. Specific training/TD responsibilities related to validation are as follows:</p>
	<ul>
		<li>Validate all training products/materials, to include training courses, correspondence courses/sub courses, Interactive Multimedia Instruction (IMI), TADSS, audiovisual products, and job aids prior to reproducing, implementing, or distributing training.</li>
		<li>Validate all tests before they are implemented.</li>
		<li>Use validation feedback to improve training products/materials.</li>
		<li>Verify with QAO instructor contact hours in POIs and supporting lesson plans.</li>
		<li>Obtain command approval of validated products.</li>
	</ul>


	</div>
</div>


<br />


<div class="row">
	<div class="span12">
		<h1>Mobile Training Team Services</h1>
	</div>
</div>

<hr />

<div class="row">
	<div class="span3">

		<img src="images/mobile_training.jpg" class="img-polaroid round-corners" />
		
	</div>
	<div class="span7"><br /><br />
		<p style="margin-left: 32px">We have the proven capabilities to provide a Mobile Training Team (MTT) to support a national roll-out of essential training programs.</p>

	</div>
</div>
	<br />
<div class="row">
	<div class="span6">
	
	<h3>Instructors:</h3>
	<ul>
		<li>Resources and relationships throughout the country to find instructors with the necessary background and qualifications to provide desired subject matter expertise.</li>
		<li>Train-the-trainer experience to certify a MTT with initial skill set training and on-going developmental coaching.</li> 
		<li>Resources to employ multiple trainers across multiple locations to meet a high level of demand.</li>
	</ul>
<h3>Curriculum Development:</h3>
	<ul>
		<li>Needs assessment services and a full range of customer-specific training services that meet documented needs.</li>
		<li>Variety of experience using various modalities of training (to include online training) depending upon the customer’s expectations and needs.</li>
		<li>Customized training presentations and materials.</li>
	</ul>
	
	</div>
	<div class="span6">
	
<h3>Training Event Coordination:</h3>
	<ul>
		<li>Substantial experience coordinating training at both the national and local level to ensure error-free execution of the event.</li> 
		<li>Resources and experience to manage the on-site aspect of the training, to include identifying suitable locations and the online registration of students.</li>
		<li>Logistical and training resources to conduct concurrent “turnkey” events.</li>
	</ul>
<h3>Post-Training Services:</h3>
	<ul>
		<li>Standard is for all participants to complete a comprehensive post-training survey. All trainers complete an After Action Report following each training event.</li>
		<li>Use feedback to continuously improve the quality of trainers and services.</li>
		<li>Best practices leveraged across the MTT as they are discovered.</li>			
	</ul>	
	
	</div>
</div>
