@import url(http://fonts.googleapis.com/css?family=Oswald);
@import url(http://fonts.googleapis.com/css?family=Droid+Sans);

HTML {
	background-color: #2a1400;
	font-family: 'Droid Sans', arial, serif;
	color: white;
	margin: 0px;
	padding: 0px;
}

body {
	color: black;
	margin: 0px;
	line-height: 22px;
	font-size: 14px;
	padding: 0px;
}

div#flash {
	display: block;
	background-color: lightyellow;
	border: 1px solid orange;
	padding: 7px 11px;
	text-align: center;
	color: #800;
	font-weight: bold;
}

div.headerbar {
	padding-top: 9px;
	text-align: center;
	color: white;
	background-color: #2a1400;
	width: 100%;
	height: 58px;
}

div.headerbar img	{
	margin: 0px;
	padding: 0px;
}

div#sessions {
	display: inline-block;
	width: 960px;
	text-align: right;
	position: absolute;
	left: 50%;
	margin-left: -480px;
}

div.headerbar a	{
	text-transform: uppercase;
	font-size: 12px;
	color: white;
	text-decoration: none;
	font-family: 'Oswald', sans-serif;
	-webkit-transition: all 0.32s ease-in-out, color .32s;
}

div.headerbar a:hover	{
	color: #e1d79a;
}

div.navbar {
	color: #ff8000;
	text-align: center;
	width: 100%;
	height: 37px;
	background-color: #821500;
}

div.navbar a	{
	text-transform: uppercase;
	list-style-type: none;
	font-family: 'Oswald', sans-serif;
	display: inline-block;
	text-align: center;
	height: 37px;
	margin-left: -2px;	
	margin-bottom: 0px;	
	margin-right: -2px;	
	margin-top: 0px;
	text-decoration: none;
	border-right-color: #af6749;	
	border-right-style: solid;	
	border-left-color: #2a1400;	
	border-right-width: 1px;	
	border-left-style: solid;	
	border-left-width: 1px;	
	border-bottom-width: 0px;	
	border-top-width: 0px;
	padding: 0 14px;
	color: white;
	font-size: 12px;
	line-height: 36px;
	background-color: none;
	text-shadow: -1px -1px 0px rgb(051,051,051);
	-webkit-transition: all 0.25s ease-in-out, color .25s;
}

div.navbar a.active	{
	background-color: #41b7d8;
	border-right-color: #af6749;
}

div.navbar a:hover	{
	background-color: #e82602;
	border-right-color: #af6749;
}


div.container {
	display: block;
	width: 960px;
	padding: 0px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 0px;
	margin-top: 0px;
}

div.content	{
	margin: 18px 0;
	padding: 0px;
	display: block;
}

div.content a	{
	font-size: 14px;
	color:	#116cc5;
	padding: 3px;
	text-decoration: none;
	-webkit-transition: all 0.32s ease-in-out, color .32s;
}

div.content a:hover	{
	color:	#990033;
	text-decoration: underline;
}

.photobox {
	background-image: url(/images/boxshadow.jpg);
	background-position: center bottom;
	background-repeat: no-repeat;
	padding: 0px;
	margin-right: 36px;
	margin-left: 9px;
	margin-bottom: 24px;
	margin-top: 2px;
	display: inline-block;
	float: left;
}

.picfade {
	margin-left: 0px;
	margin-bottom: 9px;
	margin-right: 0px;
	margin-top: 0px;
	padding: 3px;
	border-color: #9db199;
	border-width: 1px;
	border-style: solid;
}

p {
	line-height: 20px;
	font-size: 13px;
	margin: 0;
	padding: 0 0 9px 0;
	color: black;
}

.clear {
	clear: both;
}

.floatleft {
	float: left;
}

.floatlogo {
	float: left;
	padding: 12px 24px 12px 0;
}

.floatright {
	float: right;
}

.right	{
	text-align: right;
}

.left	{
	text-align: left;
}

div.whiteground	{
	background-color: white;
}

h1	{
	font-style: normal;
	font-weight: normal;
	margin: 0px;
	padding-left: 0px;
	padding-bottom: 12px;
	padding-right: 0px;
	padding-top: 18px;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	color: #a72700;
	line-height: 32px;
	font-size: 32px;
}

h2	{
	font-style: normal;
	font-weight: normal;
	padding-left: 0px;
	padding-bottom: 9px;
	padding-right: 0px;
	padding-top: 9px;
	margin: 0px;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	color: #a72700;
	line-height: 24px;
	font-size: 24px;
}

h3	{
	margin-left: 0px;
	margin-bottom: 12px;
	margin-right: 0px;
	margin-top: 2px;
	color: #4c4c4c;
	padding: 0px;
}

h4	{
	color: #c20002;
	padding: 0px;
	margin: 0px;
	font-family: 'Oswald', arial, serif;
	font-size: 20px;
	line-height: 24px;
}

h5	{
	font-size: 18px;
	color: #000000;
	margin: 0;
	padding: 0;
}

h6	{
	padding: 0px;
	margin: 0px;
	color: #4c4c4c;
	line-height: 28px;
	font-size: 16px;
}

div.divisions	{
	width: 100%;
	display: block;
}

div.divisions p	{
	margin-top: 12px;
}

div.sectionbox	{
	line-height: 18px;
	font-size: 12px;
	margin: 32px 30px 32px 0;
	padding: 0;
	width: 278px;
	float: left;
}

div.sectionboxsm	{
	line-height: 18px;
	font-size: 12px;
	margin: 32px 0;
	padding: 0;
	width: 344px;
	float: left;
}

.marginright	{
	margin-left: 0px;
	margin-bottom: 0px;
	margin-right: 30px;
	margin-top: 0px;
	padding: 0px;
}

div#show	{
	margin: 0px;
	text-align: center;
	float: right;
	padding: 0px;
}

div.slides	{
	text-align: center;
	margin: 0px;
	border-color: #4e8dc8;
	border-width: 1px;
	border-style: solid;
	padding: 2px;
}

.narrow	{
	color: #00273b;
	margin: 0;
	padding: 0;
	width: 555px;
}

p.headline	{
	letter-spacing: -1px;
	font-family: 'Oswald', sans-serif;
	color: #a72700;
	font-size: 40px;
	line-height: 58px;
	margin: 0px;
	padding: 0px;
}

.padright	{
	padding-right: 32px;
}

.border	{
	margin-top: 102px;
	margin-bottom: 54px;
	margin-right: 30px;
	border-color: #adc4c4;
	border-width: 1px;
	border-style: solid;
	padding: 3px;
}

div.profile	{
	margin: 9px 0 32px 0px;
}

.inputbox	{
	padding: 3px;
}

table	{
	padding: 0 48px 32px 48px;
}

p.small	{
	font-size: 13px;
	line-height: 17px;
	text-align: left;
	font-family: 'Droid Sans', arial, serif;
	padding: 4px 0 6px 0;
}

hr	{
	border-color: #99aec4;
	border-width: 1px 0 0 0;
	border-style: solid;
	margin: 2px 0;
}

.highlite	{
	font-size: 13px;
	font-weight: bold;
	padding: 4px 9px;
	background-color: #deffbd;
}

div.pagehead	{
	margin: 9px 0 18px 0;
}

fieldset {
	border: 0 solid silver;
	border-top-width: 1px;
}

legend {
	font-weight: bold;
	margin-left: 50px;
	font-size: 110%;
}

.textfield	{
	padding: 3px;
	margin: 0 0 0 0;
	width: 230px;
	font-size: 13px;
}	

.textfieldsmall	{
	padding: 3px;
	margin: 0 0 0 0;
	width: 180px;
	font-size: 13px;
}

.textfieldshort	{
	padding: 3px;
	margin: 0;
	width: 60px;
}

textarea	{
	margin: 2px 0 0 0;
	padding: 3px;
	width: 740px;
	height: 80px;
	text-align: top;
	font-family: arial, sans-serif;
}

label	{
	font-size: 12px;
	font-weight: bold;
	padding: 0 4px 4px 0;
}

.formleft	{
	float: left;
	margin: 0px 28px 0 0;
}

.formright	{
	width: 340px;
	float: right;
	clear: right;
	margin: 0 0 0 28px;
}

.sectionleft	{

	margin: 0px 24px 24px 300px;
}

.photoleft	{
		float: left;
	margin: 0px 24px 36px 34px;
}

.picload	{
	width: 200px;
}

.reporttable	{
	font-family: 'Oswald', sans-serif;
	line-height: 12px;
	font-size: 10px;
	text-align: center;
	width: 100%;
	margin: 9px 0 9px 0;
	padding: 0;
	border-collapse: collapse;
	border-spacing: 0;
}

.reporttable th	{
	text-align: center;
	border: 1px solid #ffffff;
	font-weight: normal;
}

.reporttable tr.sections th	{
	background-color: #4a7eb8;
	height: 28px;
	color: #ffffff;
	padding: 3px 6px;
}

.reporttable tr.parts th	{
	background-color: #6a9fd2;
	color: #ffffff;
	padding: 3px 3px;
}

.reporttable tr.values td	{
	background-color: #cdd9e5;
	margin: 0;
	border: 1px solid #ffffff;
	text-align: center;
	font-size: 12px;
	height: 26px;
	font-family: 'Droid Sans', arial, serif;
}

.reporttable tr.standards td	{
	background-color: #dbd8cc;
	color: #4a7eb8;
	margin: 0;
	border: 1px solid #ffffff;
	font-size: 12px;
	height: 24px;
	font-weight: normal;
	font-family: 'Droid Sans', arial, serif;
}

.reporttable tr.standardsleft th	{
	background-color: #ffffff;
	color: #000000;
	margin: 0;
	padding: 4px 0 2px 6px;
	font-size: 12px;
	height: 16px;
	font-weight: bold;
	text-align: left;
	font-family: 'Droid Sans', arial, serif;
}

.reporttable tr.separator th	{
	background-color: #4a7eb8;
	color: #ffffff;
	text-transform: uppercase;
	padding: 6px 7px 6px 7px;
}

.reporttable tr.sections th.spacer, .reporttable tr.parts th.spacer	{
	width: 3px;
	border: none;
	background-color: transparent;
	padding: 0;
}

.reporttable tr.values td.spacer, .reporttable tr.standards td.spacer	{
	width: 3px;
	border: none;
	background-color: transparent;
	padding: 0;
}

.reporttable tr.values input[type="text"] {
	width: 22px;
	border-collapse: collapse;
	border-spacing: 0;
	text-align: center;
}

.greenbutton	{
	font-size: 11px;
	line-height: 20px;
	text-transform: uppercase;
	background-color: #00cc33;
	color: white;
	text-shadow: -1px -1px 0px #545454;
	padding: 0px 32px;
	border-style: none;
	border-color: #1fa845;
	border-width: 1px;
	border-style: solid;
	-webkit-box-shadow: 0px 0px 5px #808080;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.checkbox	{
	margin: 0 0 0 12px;
}

textarea.bio	{
	width: 260px;
	height: 80px;
	margin: 0 0 9px 0;
	font-family: arial, sans-serif;
}

ul.tabs {
	display: block;
	margin: 6px 0 0 0;
	padding: 0;
}

ul.tabs li {
	display: block;
	width: auto;
	height: 30px;
	padding: 0;
	float: left;
	margin-bottom: 0; 
}

ul.tabs li a {
	display: block;
	text-decoration: none;
	width: auto;
	height: 29px;
	padding: 0px 31px;
	line-height: 30px;
	border: solid 1px #ddd;
	border-width: 1px 1px 0 0;
	margin: 0;
	background: #6a9fd2;     
	color: #fff;
	font-size: 13px; 
}

ul.tabs li a.active {
	background: #0064b9;
	height: 30px;
	position: relative;
	top: -4px;
	padding-top: 4px;
	border-left-width: 1px;
	margin: 0 0 0 -1px;
	color: #fff;
	-moz-border-radius-topleft: 2px;
	-webkit-border-top-left-radius: 2px;
	border-top-left-radius: 2px;
	-moz-border-radius-topright: 2px;
	-webkit-border-top-right-radius: 2px;
	border-top-right-radius: 2px;

}

ul.tabs li:first-child a.active {
	margin-left: 0; 

}

ul.tabs li:first-child a {
	border-width: 1px 1px 0 1px;
	-moz-border-radius-topleft: 2px;
	-webkit-border-top-left-radius: 2px;
	border-top-left-radius: 2px; 
}

ul.tabs li:last-child a {
	-moz-border-radius-topright: 2px;
	-webkit-border-top-right-radius: 2px;
	border-top-right-radius: 2px;
	-webkit-transition: all 0.32s ease-in-out, color .32s;
}

ul.tabs li a:hover {
	color: #fff;
	background: #0064b9;
	text-decoration: none;
}

ul.tabs-content {
	font-size: 11px; margin: 0; padding: 24px; display: block; list-style-type: none; width: 897px; background-color: #ececec;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#00000000, endColorstr=#ffffffff);
	-ms-filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#00000000, endColorstr=#ffffffff);
}
ul.tabs-content > li { display:none; }
ul.tabs-content > li.active { display: block; }

ul.tabs-content p {
	font-size: 13px; 
}

ul.tabs-content li p label {
	display: inline-block;
	text-align: right;
	width: 180px;
	padding: 0 7px;
}

ul.tabs-content li p .shortlabel {
	text-align: right;
	font-size: 11px;
	width: auto;
	margin: 0;
	padding: 0;
}

ul.tabs-content li p {
	display: inline-block;
	text-align: left;
	padding: 0 7px;
	margin: 0 0 3px 0;
}

ul.tabs-content li p.block {
	display: block;
}

ul.tabs-content li td	{
	padding: 0 6px;
	font-size: 13px;
	line-height: 20px;
	background-color: #fff;
}

ul.tabs-content li td input[type="text"]	{
	padding: 2px;
	font-size: 13px;
	width: 40px;
	text-align: right;
}

ul.tabs-content li td input[type="text"].textfield	{
	width: 120px;
}

table.contact {
	width: 100%;
	margin: 0;
	padding: 0;
}

table.contact tr th {
	text-align: left;
	font-size: 80%;
	padding: 0 0 0 9px;
	margin: 0;	
}

table.contact tbody tr td {
	background-color: transparent;
	margin: 0;
	padding: 0;	
}

table.contact tbody tr td input[type="text"] {
	text-align: left;
	margin: 0;
	padding: 0;	
}




/* Clearfixing tabs for beautiful stacking */
ul.tabs:before,
ul.tabs:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; 
}
ul.tabs:after {
  clear: both; }
ul.tabs {
  zoom: 1; }

table.user 	{
	width: 100%;
	padding: 0;
}

table.user th	{
	font-size: 13px;
	color: #fff;
	background-color: #6a9fd2;
	padding: 1px 6px;
}

table.user td	{
	font-size: 13px;
	color: #004183;
	padding: 1px 6px;
}

table.user td a	{
	font-size: 13px;
	color: #004183;
	text-decoration: none;
	-webkit-transition: all 0.32s ease-in-out, color .32s;
}

table.user tr.even	{
	background-color: #fff;
}

table.user tr.odd	{
	background-color: #dae1e8;
}

div#footer {
	text-align: center;
	margin: 24px 0 0 0;
	width: 100%;
	color: #f1ce94;
	background-color: #821500;
	height: 37px;
	padding: 0;
	line-height: 37px;
	font-size: 11px;
}

div#subfooter	{
	width: 400px;
	margin: 14px auto;
	padding: 0;
	text-align: center;
	color: white;
}

div#subfooter p	{
	color: #b59066;
	line-height: 20px;
	font-size: 12px;
}

.fixed200	{
	width: 340px;
}

.fixed400	{
	width: 500px;
}

.mar	{
	margin: 4px 0;
}

label a	{
	text-decoration: none;
	font-weight: normal;
}

span.tooltip {
	font-weight: normal;
	position: absolute;
	background-color: lightyellow;
	padding: 6px 12px;
	border: 1px solid orange;
	margin-top: -4px;
	margin-left: 6px;
	font-size: 90%;
	text-align: left;
	line-height: 130%;
	z-index: 2;
}

div.forumnav	{
	margin: 18px 0;
	padding: 0;
	padding-left:  6px;
	background: url(/images/border.png) repeat-x center bottom;
}

div.forumnav a	{
	background-color: #ddd;
	color: #aaa;
	font-size: 14px;
	line-height: 32px;
	text-decoration: none;
	padding: 0px 20px;
	margin: 0px;
	-webkit-transition: all 0.32s ease-in-out, color .32s;
	border:  1px solid silver;
	display: inline-block;
}

div.forumnav a:hover {
	color: #009ce7;
	text-decoration: none;
}

div.forumnav a.active	{
	background-color: #ffffff;
	color: #009ce7;
	text-decoration: none;
	border-bottom-color: white;
}

div.topics	{
	display: inline-block;
	margin: 0 60px 0 60px;
	line-height: 32px;
}

a.back_button	{
	display: inline-block;
	background-position: center 0px;
	background-image: url(/images/back_button.png);
	background-repeat: no-repeat;
	height: 22px;
	width: 70px;
}

blockquote	{
	margin-bottom: 24px;
	margin-top: 24px;
}

.padright	{
	padding-right: 32px;
}

.border	{
	margin-top: 102px;
	margin-bottom: 54px;
	margin-right: 30px;
	border-color: #adc4c4;
	border-width: 1px;
	border-style: solid;
	padding: 3px;
}

.corp_bio_left	{
	display: block;
	margin-right: 16px;
	margin-left: 0px;
	display: block;
	padding: 9px 0;
	margin-bottom: 12px;
	margin-top: 12px;
	width: 450px;
	border-color: #99aec4;
	border-right-width: 0px;
	border-style: solid;
	border-left-width: 0px;
	border-bottom-width: 0px;
	border-top-width: 1px;
	float: left;
}

.corp_pic	{
	margin-top: 4px;
	border-left-color: #adc4c4;
	padding: 0px;
	border-top-color: #adc4c4;
	border-bottom-color: #99aec4;
	border-right-color: #99aec4;
	border-left-width: 1px;
	border-bottom-width: 1px;
	border-right-width: 1px;
	border-top-width: 1px;
	margin-right: 18px;
	float: left;
	width: 130px;
	border-style: solid;
}

div.bio-text	{
	display: block;
	margin-left: 149px;
	width: 288px;
	color: #0c1419;

}

div.bio-text p	{
	line-height: 18px;
	font-size: 12px;
}

.title	{
	line-height: 14px;
	font-size: 12px;
	color: #49515b;
}



table.elp_list	{
	padding: 0px;
	margin-top: 24px;
	margin-bottom: 36px;
	margin-right: 0px;
	margin-left: 18px;
	line-height: 16px;
	font-size: 12px;
}

table.elp_list tr	{
	padding: 0px;
	margin: 0px;
}

table.elp_list tr th	{
	border-color: white;
	border-right-width: 1px;
	border-style: solid;
	border-left-width: 0px;
	border-bottom-width: 0px;
	border-top-width: 0px;
	background-color: #99aec4;
	color: white;
	padding-right: 28px;
	padding-left: 28px;
	padding-bottom: 3px;
	padding-top: 3px;
	margin: 0px;
}

table.elp_list tr td	{
	border-color: #adc4c4;
	border-right-width: 0px;
	border-style: solid;
	border-left-width: 0px;
	border-bottom-width: 1px;
	border-top-width: 0px;
	margin: 0px;
	padding-right: 28px;
	padding-left: 28px;
	padding-bottom: 3px;
	padding-top: 3px;
}

div.pubs	{
	padding-left: 3px;
	padding-bottom: 24px;
	padding-right: 3px;
	padding-top: 18px;
	color: #504c44;
	clear: both;
	border-right-width: 0px;
	border-left-width: 0px;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 18px;
	margin-top: 18px;
	border-top-color: #adc4c4;
	border-bottom-width: 0px;
	border-style: solid;
	border-top-width: 1px;
}

.pubsection	{
	margin-left: 0px;
	margin-bottom: 12px;
	margin-right: 24px;
	margin-top: 4px;
	padding: 3px;
	height: 100%;
	width: 440px;
	float: left;
}
div.pubs p	{
	padding: 0px;
	margin: 0px;
	color: #504c44;
	line-height: 18px;
	font-size: 12px;
}

.picright	{
	margin-top: 9px;
	margin-right: 0px;
	margin-bottom: 9px;
	margin-left: 24px;
	padding: 0px;
	float: right;
}

.picleft	{
	float: left;
	padding: 0px;
	margin-right: 24px;
	margin-left: 0px;
	margin-bottom: 14px;
	margin-top: 4px;
}

.blue	{
	border-color: #6f91a3;
	border-width: 1px;
	border-style: solid;
}

p.headerlink a	{
	line-height: 32px;
	font-size: 18px;
	font-weight: bold;
}

.ground	{
	background-position: 80% 8%;
	background-image: url(images/ctclogo_Wallpaper.png);
	background-repeat: no-repeat;
	display: inline-block;
}

.pad	{
	padding: 16px 0;
}

.bio	{
	width: 320px;
	font-size: 12px;
	margin: 9px 0 0 0;
}

.logo_desc	{
		float: right;
		width: 460px;
		text-align: center;
		margin: 12px 0 32px 0;
		padding: 12px 20px;
}

.logo_desc p	{
	font-size: 14px;
	line-height: 22px;
}

div.personnel_block	{
	float: left;
	margin: 12px 0 24px -1px;
	border-right: 1px #99aec4 solid;
	border-left: 1px #99aec4 solid;
	padding: 0 18px;
}