<div class="row">
	<div class="span12">
		<h1><i class="icon-bullhorn muted"></i> &nbsp;eduCONNECT&trade; Forum</h1>
	</div>
</div>

<div class="row">
	<div class="span12">

		<%= erb :'forum/tabs', :layout => false, :locals => {:current_tab => 'Instructions'} %>

	</div>
</div>
<div class="row">
	<div class="span12">
	<div class="row">
		<div class="span4">
			<p class="lead">The Forum section is an active message board community available to all eduCONNECT&trade; representative.</p>
		</div>
		<div class="span8">	
		<p>There are 5 different areas of the Forum available for you to share and learn from each other.</p>
			<blockquote>Use the "Best Practices" forum to share productivity enhancing strategies and techniques that you have discovered, and that you think your peers could benefit from knowing.</blockquote>
			<blockquote>Use the "Success Stories" forum to share significant customer achievements. Bragging on your efforts is encouraged and can be inspirational to others!</blockquote>
			<blockquote>Use the three "Questions" areas to ask for ideas and solutions to any issues you may be having - and please share any possible solutions you may have for other posted questions.</blockquote>
		</div>
	</div>	
	</div>
</div>