<div class="navbar navbar-inverse">
  <div class="navbar-inner" style="border-bottom: 0; margin-top: 18px;">
		<ul class="nav">
		  <li class="<%= active 'instructions' %>"><a href="/forum/instructions">Home</a></li>
			<li class="<%= active 'Best_Practices' %>"><a href="/forum/sections/Best_Practices">Best Practices</a></li>
			<li class="<%= active 'Success_Stories' %>"><a href="/forum/sections/Success_Stories">Success Stories</a></li>
			<li class="<%= active 'SEV_Questions' %>"><a href="/forum/sections/SEV_Questions">SEV Questions</a></li>
			<li class="<%= active 'Educator_Marketing_Questions' %>"><a href="/forum/sections/Educator_Marketing_Questions">Educator Marketing Questions</a></li>
			<li class="<%= active 'Guard_Questions' %>"><a href="/forum/sections/Guard_Questions">Guard Questions</a></li>
		</ul>
	</div>
</div>


